<!--The content below is only a placeholder and can be replaced.-->
  <apx-chart #chart1
    [series]="chartOptions1.series"
    [chart]="chartOptions1.chart"
    [xaxis]="chartOptions1.xaxis"
    [dataLabels]="chartOptions1.dataLabels"
    [grid]="chartOptions1.grid"
    [stroke]="chartOptions1.stroke"
    [title]="chartOptions1.title"
  ></apx-chart>
  <apx-chart #chart2
    [series]="chartOptions2.series"
    [chart]="chartOptions2.chart"
    [xaxis]="chartOptions2.xaxis"
    [dataLabels]="chartOptions2.dataLabels"
    [grid]="chartOptions2.grid"
    [stroke]="chartOptions2.stroke"
    [title]="chartOptions2.title"
  ></apx-chart>
